@model   _200393479A1.Models.ViewModel

@{
    Model.Title = Model.Title;
}
<h2>@Model.Title.</h2>
<h3>@Model.Message</h3>
<h3>@Model.NewItem</h3>

<p>Use this area to provide additional information.</p>
